/*Sets the bg color for the website*/
body{
    background-color: #0c161b;
}

/*Styles the header image with the moon*/
.jumbotron{
    height: 80vh;
    background-image: url('images/jumbo_2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/*Styling for the step images*/
.step1{
    width: 900px;
    height: 1100px;
}

img{
    max-width: 100%;
    height: auto;
}

/*Format materials image*/
.materials-img{
    margin-left: 7px;
    margin-right: 7px;
}

/*Materials paragraph*/
.materials-paragraph{
    margin-right: 7vh;
    margin-left: 7vh;
    padding-top: 10px;
}

/*Makes the text in card bodies white*/
.card-body{
    color: white;
}

/*Colors the divider*/
hr{
    background: dimgray;
}

/*Colors label color in the contact form*/
label{
    color: dimgray;
}

/*Styles the navbar and links*/
ul.nav li a, ul.nav li a:visited {
    color: #fff !important;
}
ul.nav li a:hover, ul.nav li a:active {
    color: #fff !important;
}
ul.nav li.active a {
    color: #fff !important;
}

/*Makes card title text white*/
.card-title{
    color: white;
}

/*Formats all h1 tags to be white and have the Copperplate font*/
h1{
    color: white;
    text-align: center;
    font-family: Copperplate;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*Formats the navbar*/
.navbar{
    font-family: Copperplate;
    color: white;
    margin-top: 3%;
    margin-right: 10vh;
    margin-left: 10vh;
}

.introduction-paragraph{
    margin-top: 20px;
    line-height: 2px;
}

/* Footer Icons */
.fa-twitter{
    color: white;
    margin-right: 50px;
    justify-content: center;
}

.fa-trello{
    color: white;
    justify-content: center;
}


/*Colors paragraph text*/
p{
    color: white;
}

.introduction-div{
    background-color: #0c161b;
}

.card{
    background-color: #0c161b;
    margin-right: 5vh;
    margin-left: 5vh;
    line-height: 4vh;
}

/*Styling for recaptcha*/
.recaptcha{
    margin-top: 10px;
    margin-bottom: 12px;
}

/*Styling for button margins*/
.buttons{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Styling for contact form*/
.contact-form {
    margin-bottom: 20px;
}

