body{
    background-color: #0c161b;
}

.jumbotron{
    height: 80vh;
    background-image: url('images/JUMBO_2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.card-body{
    color: white;
}

hr{
    background: dimgray;
}

label{
    color: dimgray;
}

ul.nav li a, ul.nav li a:visited {
    color: #fff !important;
}
ul.nav li a:hover, ul.nav li a:active {
    color: #fff !important;
}
ul.nav li.active a {
    color: #fff !important;
}

.card-title{
    color: white;
}

h1{
    color: white;
    text-align: center;
    font-family: Copperplate;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar{
    font-family: Copperplate;
    color: white;
    margin-top: 3%;
    margin-right: 10vh;
    margin-left: 10vh;
}

.introductionParagraph{
    margin-top: 20px;
    line-height: 4px;
}


.fa-twitter{
    color: white;
    margin-right: 70px;
    justify-content: center;
}

.fa-trello{
    color: white;
    justify-content: center;
}

p{
    color: white;
}

.introductionDiv{
    background-color: #0c161b;
}

.card{
    background-color: #0c161b;
}

.formParagraph{
    color: dimgray;
}

input{
    margin-bottom: 15px;
}
