body{
    background-color: #252525;
}

.main-jumbotron{
    height: 80vh;
    background-image: url('images/jumbotron_small.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1{
    color: white;
    text-align: center;
    font-family: Copperplate;
    margin-top: 30px;
}

.navbar{
    font-family: Copperplate;
}


.fa-twitter{
    color: white;
    margin-right: 20px;
}

.fa-trello{
    color: white;
    margin-right: 20px;
}

p{
    color: white;
}

