.main-wrapper{
    display: flex;
    flex-direction: column;
    background-color: dimgray;
}

body{
    background-color: #323232 ;
}

section{
    padding: 2em;
}

h1{
    text-align: center;
    color: thistle;
}

h2{
    text-align: center;
    color: thistle;
}

div{
    text-align: center;
}

.persona-info img{
    width: 700px;
    height: 400px;
}

