.main-wrapper{
    display: flex;
}

section{
    padding: 3em;
}
h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{
    text-align: center;
}

div{
    text-align: center;
}

.persona-info img{
    width: 700px;
    height: 400px;
}

